<div class="row">
	{% for memo in allMemo %}
		<div class="card p-3 col-4">
			<a href="#">
				<div class="card-body">
					<p>
						{{memo["contenue"]}}
					</p>
				</div>
				<div class="card-footer">
					<p>
						{# {{ date('m/d/Y H:i:s', memo["expiration"])}} #}
						{{ memo["expiration"]|date("d/m/Y H:i:s") }}

					</p>
				</div>
			</a>

		</div>
	{% endfor %}
</div>

<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="card p-3 col-4">
			<div class="card-body">
				<p>
					{{memo["contenue"]}}
				</p>
			</div>
			<div class="card-footer">
				<p>
					{# {{ date('m/d/Y H:i:s', memo["expiration"])}} #}
					{{ memo["expiration"]|date("d/m/Y H:i:s") }}

				</p>
			</div>
		</div>
	</div>
</div>
