{% extends 'base.html.twig' %}

{% block title %}Hello MemoController!{% endblock %}

{% block body %}

    <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 ">
      <div class="col-10 col-sm-8 col-lg-6">
        <img height="150" width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Oxygen480-emotes-face-smile-big.svg/2048px-Oxygen480-emotes-face-smile-big.svg.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">LA MEMO est afficher</h1>
        <p>attention la redirection d'erreur depend de lheure de votre serveur apache et de sa configuration</p>
      </div>
    </div>
  </div>

    <div class="container">
	<div class="row d-flex justify-content-center">
		<div class="card p-3 col-4">
			<div class="card-body">
				<p>
					{{memo.contenue}}
				</p>
			</div>
			<div class="card-footer">
				<p>
					{# {{ date('m/d/Y H:i:s', memo["expiration"])}} #}
					{{ memo.expiration|date("d/m/Y H:i:s") }}

				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
